@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
  background: rgb(109, 223, 185);
  ;
  border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 171, 142);
  ;
}



/*TIPOGRAFIAS*/
.lato {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.fw100 {
    font-weight: 100;
}
.fw300 {
    font-weight: 300;
}
.fw700 {
    font-weight: 700;
}
/* estilos para imagenes de fondo */
.bnrep{
   background-repeat: no-repeat; /*para que la imagen no se repita si hay espacio sobrante */
   background-size: cover; /*que la imagen ocupe al 100% */
  background-position: center; /*centrar imagen*/
}

/*-----estilos del proyecto-------*/

.portada {
    position: relative;
    background-image: url(../img/res.jpg); 
    background-color: aquamarine;
     padding: 7%; 
    color: white;
     box-shadow: inset 0 0 150px rgb(0, 0, 0); /*sombra para caja */
    height: 300px;
}

.portada .texto {
  position: absolute;
  bottom: 60px;
}

.busqueda{
  position: absolute;
  bottom: -26px;
  background-color: #ffffff;
  width: 86%;
  height: 60px;
   margin: auto; /*centrar la caja de manera horizontal */
  box-shadow: 0 15px 20px -15px rgb(0, 0, 0);  /*1: eje x ||2: eje y ||3: cantidad de difuminado || 4: color de la sombra  */
  display: flex;
  align-items: center;
   justify-content: space-between; /* espacio identico entre los tres elementos */
  border-radius: 10px;
  overflow: hidden;
  }

.busqueda .icono{
  background-color: darkgray;
  height: 100%; 
  width: 60px; 
  text-align: center;  /*cetrar texto/iconogoogle */
  line-height: 60px; /*centrar verticalmente texto*/

}

.icono.material-icons-outlined
{
  font-size: 24px; /* le cambio el tamaño al texto/icono*/
  background-color: darkgray;
}

.busqueda input[type="search"]{
  padding: 0 20px;
  height: 100%;
  width: calc(100% - 120px);
  border: none;/*borrar borde*/

  
}

.busqueda input[type="submit"]{
  height: 100%; 
  width: 60px; 
  border: none;/*borrar borde*/
  background-color: rgb(212, 212, 212); 
  font-size: 12pt;
}

.busqueda input[type="submit"]:active /*active es cuado clike*/ {
  font-size: 15pt;
  transition: all 0.3s ease; 
}

.busqueda input[type="search"]:focus /*focus es cuado clike*/ {
  font-size: 14pt;
  /* transition: all 0.3s ease; */
}









/*------------FIN PORTADA-----------*/
.menu {
  margin-top: 26px;
    background-color: rgb(28, 234, 165);
    padding: 20px;


}
.menu ul {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll; 
}



.menu ul li{
  flex:0 0 100px;
  text-align: center;
  list-style: none;
}

.menu ul li a{
  color: rgb(95, 94, 94);
  font-family: roboto,Arial, Helvetica, sans-serif;
  text-decoration: none;
  /* font-size: 18px; */
}
.menu ul li a:hover{
  color: rgb(95, 94, 94);
  font-family: roboto,Arial, Helvetica, sans-serif;
  text-decoration: none;
   font-size: 18px;
   transition: all 0.3s ease; 
}

/*----------FIN MENU---------*/

.productos {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}
/*-----------FIN PRODUCTOS-----------*/